{% macro page_header(title) %}
    <div class="page-header">
        {{ title }}<span class="">.</span>
    </div>
{% endmacro page_header %}

{% macro section_header(title) -%}
<h1 id="{{ title | slugify }}" class="text-3xl text-stone-700 sm:text-4xl font-bold pb-3">
    {{ title }}
</h1>
{%- endmacro section_header %}

{% macro page_content(page) %}
<main>
    <article>
        <div class="title">
            {{ self::page_header(title=page.title) }}

            {% if page.date %}
                <div class="meta">
                    Posted on {{ page.date | date(format="%Y-%m-%d") }}

                    {% if page.draft %}
                        <span class="draft-label">DRAFT</span> 
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <section class="body">
            {{ page.content | safe }}
        </section>

    </article>
</main>
{% endmacro content %}
