{% extends "base.html" %}

{% block head %}
    {{ super() }}
    
    {% block title %}
    <title>
        404. Page not found
    </title>
    {% endblock title %}
{% endblock head %}

{% block content %}
<div class="grid h-screen place-items-center">
    <div>
        <h1 class="text-6xl text-center font-regular text-orange-700">
            404.
        </h1>
        <p class="text-2xl pt-4 font-light text-center">
            The page you are looking for doesn't exist here.
        </p>
        <p class="text-2xl pt-2 font-light text-center">
            Go <a class="text-orange-700 font-normal underline 
                hover:bg-orange-700 hover:text-amber-100" 
                href="/">
                home
                </a>
            ?
        </p>
    </div> 
</div>
{% endblock content %}
