{% import "macros/utils.html" as utils %}
{% import "macros/components.html" as components %}

<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Site title #}
        {% block title %}
        <title>
            {% set current_path = current_path | default(value="/") %}
            {% if current_path == "/" %}
                {{ config.title | default(value="Home") }}
            {% else %}
                {{ page.title | default(value=config.title) }}
            {% endif %}
        </title>
        {% endblock title %}

        {# Favicon #}
        {% if config.extra.favicon %}
            <link rel="icon" type="image/png" href={{ config.extra.favicon }} />
        {% endif %} 

        {# Analytics #}
        {% block analytics %}
            {% if config.extra.goatcounter_username %}
            <script data-goatcounter="https://{{ config.extra.goatcounter_username }}.goatcounter.com/count"
                    async src="//gc.zgo.at/count.js"></script>
            {% endif %}
        {% endblock analytics %}

        <link href="{{ get_url(path='/styles/styles.css') }}" rel="stylesheet" />
    {% endblock head %}
    </head> 
    <body class="bg-amber-50">
        <div class="mx-auto px-10 sm:px-20 max-w-2xl lg:max-w-4xl">
            {% block content %}
            Nothing here?
            {% endblock content %}
        </div>
    </body>
</html>
