{% set contact = get_section(path="contact/_index.md") %}
<div>
    {{ components::section_header(title=contact.title | default(value="Contact me.")) }}
    <div class="prose prose-hover-link">
        {{ contact.content | safe }}
    </div>
</div>
