<div class="pt-20 lg:pt-40 sm:grid sm:grid-cols-2">
    <div class="max-w-lg">
        <span class="text-6xl font-bold text-orange-700">Hi.</span>
        {{ components::section_header(title="My name is $name." | replace(from="$name", to=config.extra.name | split(pat=' ') | first)) }}
        <img class="max-h-96 mx-auto pb-5 sm:hidden" src="{{ get_url(path=config.extra.headshot) }}">
        <p class="text-xl sm:text-lg">
            {{ config.extra.intro_hook }}
        </p>
    </div>
    <div class="mx-auto pl-5 hidden sm:block">
        <img class="max-h-56" src="{{ get_url(path=config.extra.headshot) }}">
    </div>
</div>
