{% set open_to = get_section(path="open-to/_index.md") %}
<div>
    {{ components::section_header(title=open_to.title | default(value="Open to work!")) }}
    <div class="prose prose-hover-link">
        {{ open_to.content | safe }}
    </div>
</div>
