{% set portfolio = get_section(path="portfolio/_index.md") %}
<div class="">
    {{ components::section_header(title=portfolio.title | default(value="My portfolio.")) }}
    <div class="grid grid-cols-1 gap-6 lg:gap-4 sm:grid-cols-2 mt-3">
        {% for item in portfolio.pages %}
        <div class="max-w-sm min-w-sm">
            <div>
                {% if item.extra.url %}
                <a href="{{ item.extra.url }}">
                    <span class="text-2xl hover-link">
                        {{ item.title }}
                    </span>
                </a>
                {% else %}
                <span class="text-2xl text-orange-800 font-bold">
                    {{ item.title }}
                </span>
                {% endif %}
                <p class="text-sm text-stone-500">
                    {% if item.extra.completed %}
                    {{ item.extra.start | date(format='%b %Y') }} - {{ item.extra.end | date(format='%b %Y') }}
                    {% else %}
                    {{ item.extra.start | date(format='%b %Y') }} - Ongoing
                    {% endif %}
                </p>
            </div>
            <div class="prose prose-hover-link">
                {% if item.summary %}
                {% set desc = item.summary %}
                {% else %}
                {% set desc = item.content | striptags | truncate(length=180) %}
                {% endif %}
                {{ desc | safe }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
