{% set testimonials = get_section(path="testimonials/_index.md") %}
<div>
    {{ components::section_header(title=testimonials.title | default(value="Testimonials.")) }}
    <div class="grid grid-cols-1 gap-6 lg:gap-8 sm:grid-cols-2 mt-3">
        {% for item in testimonials.pages %}
        <div class="max-w-sm min-w-sm">
            <p class="italic font-light text-xl sm:text-lg">"{{ item.extra.praise }}"</p>
            <p class="text-right mt-3">
                - <span class="font-bold">{{ item.extra.author }}</span>, <span class="font-base">
                {{ item.extra.affiliation }}
                </span>
            </p>
        </div>
        {% endfor %}
    </div>
</div>
