@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hover-link {
        @apply text-orange-700 underline font-bold hover:text-orange-600;
    }

    .prose-hover-link {
        @apply prose-a:underline prose-a:text-orange-700 prose-a:font-bold;
        @apply hover:prose-a:text-orange-600;
    }
}
